html,body{
    background-color: black;
    padding: 0;
    margin: 0;
    font-family: Helvetica, Arial, sans-serif;

}
.container{
    width: 100%;
    max-width: 1242px;

}
header{
    background-color: transparent;
    
}
.header-container{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.left-container, .right-container{
    display: flex;
    flex-direction: row;
    align-items: center;
}
.header-brand{
    max-width: 110px;
}
.main-nav{
    list-style: none;
    display: inline-flex;
    flex-direction: row;
}
.nav-item{
    color: aliceblue;
    margin-right: 20px;
}
.right-container svg, .right-container img{
    margin-right: 22px;
    cursor: pointer;
}
.right-container svg{
    color: aliceblue;
}
.right-container img{
    max-width: 40px;

}
@media (max-width:767px) {
    .main-nav{
        display: none;
    }
}